{% extends "page--user--login.html.twig" %}

{# Main #}
{% block main %}
  <div role="main" class="access-section">
    <div class="{{ container }}">
      <div class="row">
        <div class="form-box col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 xs-offset-0">
          <div class="form-box-inner">

            {# Header #}
            {% if page.header %}
              {% block header %}
                <div class="title text-center" role="heading">
                  {{ page.header }}
                </div>
              {% endblock %}
            {% endif %}

            {# Content #}
            <section class="form-container">
              {# Content #}
              {% block content %}
                <a id="main-content"></a>
                {{ page.content }}
              {% endblock %}
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="stick"></div>
  </div>
{% endblock %}
